@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
:root{
    --color-chung:#f2726a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    /* Căn thẻ ra giữa */
    display:flex;
    justify-content: center;
    align-items: center;
    /* ------- */
    font-family: 'Poppins', sans-serif;
    color:white;
}
.card{
    background: #242628;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;  /* Làm cho thẻ vừa khớp với ảnh và ko bị vuông góc(bo tròn với thẻ) */
}
img{
    object-fit: cover;   /* Ảnh bao trọn khung hình */
    width: 100%;
    height: 100%;
    object-position: center;  /* Làm cho ảnh lúc nào cũng căn ra giữa */
    
}
.card_img{
    width: 120px;
    height:120px;
    border: 4px solid var(--color-chung);
    border-radius: 50%;
    overflow: hidden; /* Làm cho ảnh không bị tràn ra ngoài border */
    margin: 0 auto;
    transform: translateY(25px);
    transition:0.5s;
}
.card h2{
    margin-top: 35px;
}

 .card p{
     color:var(--color-chung);

 }
 .social{
     margin:20px 0;
 }
 .social a{
    color:white;
    margin:25px 20px;
    font-size:25px;
 }
 .card button{
    width:150px;
    height:40px;
    border:1px solid var(--color-chung);
    background: transparent;  /* Làm mất màu bên trong của button */
    color:white;
    border-radius: 10px;
    transition: 0.5s;
 }
 .card button:hover{
     background:var(--color-chung);
 }
 .social a:hover{
     color:var(--color-chung);
 }
 .card_img:hover{
     /* Làm cho ảnh lan ra toàn màn hình */
    width: 100%;
    height: 100%;
    border-radius: unset;  /* Gỡ bỏ border-raidus để bao kín khung hình */
    transform: unset;  /* Gỡ bỏ transform */ 
    border: none;
 }